body {
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  line-height: 130%;
}


h1 {
  font-size: 4em;
  line-height: 160%;
}

h3 {
  font-size: 1.5em;
  line-height: 100%;
}

p {
  font-size: 100%;
  margin: 16px;
}

figcaption {
  font-size: .75em;
}

nav {
  font-size: 90%;
  color: #ffffff;
  background-color: rgba(0,0,0,.4);
  font-weight: bold;
  float: left;
  position: fixed;
  width: 100%;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;

}

a:hover {
  color: gray;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
